<div class="signup-form">

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>

 <div class="register">

     <p> <%= link_to unauthenticated_user_root_path do %>
        <i class="fa-solid fa-arrow-left-long icon"></i> 
     <% end %> </p>

    <h2>LOGIN</h2>

    <div class="actions action-next">
       <%= f.submit "Log in" %>
   </div>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field"  %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "input-field"  %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'remeber-me' %>
    </div>
  <% end %>

<% end %>
</div>